In [1]:
from selenium import webdriver
from os.path import join
import openpyxl
import pandas as pd
from datetime import datetime, date, time, timedelta

In [2]:
root = join("__file__", "..")

In [3]:
driver_path = join(root, "chromedriver.exe")

In [4]:
options = webdriver.ChromeOptions()
options.add_experimental_option("debuggerAddress", "127.0.0.1:9222")
driver = webdriver.Chrome(executable_path=driver_path, options=options)

In [5]:
handle_array = driver.window_handles
len(handle_array)

2

In [6]:
driver.switch_to.window(handle_array[0])

In [7]:
url = driver.current_url
print(url)

https://www.athleteranking.com/members/compv3/0014_race_schedule.php

In [29]:
dfs = pd.read_html(driver.page_source)

In [31]:
df = dfs[2]
df

   0    1               2   3   4   5   6           7   8   9   10  11  12
0   男  NaN          十種100m  決勝   1 NaN NaN  07/1607/17 NaN NaN NaN NaN NaN
1   女  NaN  七種100mH:84.0cm  決勝   1 NaN NaN  07/1607/17 NaN NaN NaN NaN NaN
2   女  NaN    100mH:84.0cm  予選   1 NaN NaN  07/1607/17 NaN NaN NaN NaN NaN
3   女  NaN    100mH:84.0cm  予選   2 NaN NaN  07/1607/17 NaN NaN NaN NaN NaN
4   男  少年B    110mH:99.1cm  予選   1 NaN NaN  07/1607/17 NaN NaN NaN NaN NaN
.. ..  ...             ...  ..  ..  ..  ..         ...  ..  ..  ..  ..  ..
77  男  NaN            100m  決勝   1 NaN NaN  07/1607/17 NaN NaN NaN NaN NaN
78  女  NaN            400m  決勝   1 NaN NaN  07/1607/17 NaN NaN NaN NaN NaN
79  男  NaN            400m  決勝   1 NaN NaN  07/1607/17 NaN NaN NaN NaN NaN
80  女  NaN          七種200m  決勝   1 NaN NaN  07/1607/17 NaN NaN NaN NaN NaN
81  男  NaN          十種400m  決勝   1 NaN NaN  07/1607/17 NaN NaN NaN NaN NaN

[82 rows x 13 columns]

In [32]:
psd = pd.DataFrame(page_source)

C:\Users\kakat\anaconda3\lib\site-packages\pandas\core\internals\construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

In [15]:
psd

pandas.core.frame.DataFrame

In [70]:
start_times = []
race_number = 109 #レース数+1を代入
for num in range(race_number): 
    start_times.append(driver.find_elements_by_xpath("/html/body/div[@class='base']/form/div[@class='bodyBox marginTop219']/table[@class='contentTable']/tbody[@id='id_game_race_tbody']/tr[@id='id_row_" + str(num) + "']/td[@class='width7per'][1]/input")\
[0].get_attribute("value"))
print(start_times)

['09:30', '09:30', '09:40', '09:40', '09:40', '09:40', '09:40', '09:40', '10:00', '10:00', '10:00', '10:15', '10:15', '10:15', '10:15', '10:15', '10:15', '10:15', '10:50', '10:50', '10:55', '11:00', '11:00', '11:00', '11:05', '11:40', '11:40', '11:40', '11:40', '11:40', '11:40', '11:40', '11:40', '11:40', '11:40', '11:40', '11:40', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '12:00', '13:00', '13:00', '13:10', '13:10', '13:30', '13:30', '13:30', '13:30', '13:30', '13:45', '13:45', '13:45', '13:45', '13:45', '13:45', '13:45', '13:45', '13:45', '13:45', '13:45', '13:45', '13:45', '14:40', '14:50', '14:50', '14:50', '15:00', '15:00', '15:00', '15:20', '15:20', '15:20', '15:20', '15:20', '15:20', '17:30', '18:00', '18:15']

In [ ]:
len(start_times)

109

In [ ]:
call_times = []
for i in range(race_number):
    td = timedelta(minutes = 25)
    d = datetime.strptime(f'{start_times[i]}', '%H:%M')
    result = d - td
    call_times.append(result.strftime('%H:%M'))
print(call_times)

['09:05', '09:05', '09:15', '09:15', '09:15', '09:15', '09:15', '09:15', '09:35', '09:35', '09:35', '09:50', '09:50', '09:50', '09:50', '09:50', '09:50', '09:50', '10:25', '10:25', '10:30', '10:35', '10:35', '10:35', '10:40', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '12:35', '12:35', '12:45', '12:45', '13:05', '13:05', '13:05', '13:05', '13:05', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '14:15', '14:25', '14:25', '14:25', '14:35', '14:35', '14:35', '14:55', '14:55', '14:55', '14:55', '14:55', '14:55', '17:05', '17:35', '17:50']

In [ ]:
for j in range(race_number):
    call_time_texts = driver.find_elements_by_xpath("/html/body/div[@class='base']/form/div[@class='bodyBox marginTop219']/table[@class='contentTable']/tbody[@id='id_game_race_tbody']/tr[@id='id_row_" + str(j) + "']/td[@class='width7per'][2]/input")[0]
    call_time_texts.send_keys(call_times[j])

In [ ]:
call_times2 = []
for num in range(race_number):
    call_times2.append(driver.find_elements_by_xpath("/html/body/div[@class='base']/form/div[@class='bodyBox marginTop219']/table[@class='contentTable']/tbody[@id='id_game_race_tbody']/tr[@id='id_row_" + str(num) + "']/td[@class='width7per'][2]/input")\
[0].get_attribute("value"))
print(call_times2)

['09:05', '09:05', '09:15', '09:15', '09:15', '09:15', '09:15', '09:15', '09:35', '09:35', '09:35', '09:50', '09:50', '09:50', '09:50', '09:50', '09:50', '09:50', '10:25', '10:25', '10:30', '10:35', '10:35', '10:35', '10:40', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:15', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '11:35', '12:35', '12:35', '12:45', '12:45', '13:05', '13:05', '13:05', '13:05', '13:05', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '13:20', '14:15', '14:25', '14:25', '14:25', '14:35', '14:35', '14:35', '14:55', '14:55', '14:55', '14:55', '14:55', '14:55', '17:05', '17:35', '17:50']

In [ ]:
call_end_times = []
for k in range(race_number):
    td = timedelta(minutes = 10)
    d = datetime.strptime(f'{call_times2[k]}', '%H:%M')
    result = d + td
    call_end_times.append(result.strftime('%H:%M'))
print(call_end_times)

['09:15', '09:15', '09:25', '09:25', '09:25', '09:25', '09:25', '09:25', '09:45', '09:45', '09:45', '10:00', '10:00', '10:00', '10:00', '10:00', '10:00', '10:00', '10:35', '10:35', '10:40', '10:45', '10:45', '10:45', '10:50', '11:25', '11:25', '11:25', '11:25', '11:25', '11:25', '11:25', '11:25', '11:25', '11:25', '11:25', '11:25', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '11:45', '12:45', '12:45', '12:55', '12:55', '13:15', '13:15', '13:15', '13:15', '13:15', '13:30', '13:30', '13:30', '13:30', '13:30', '13:30', '13:30', '13:30', '13:30', '13:30', '13:30', '13:30', '13:30', '14:25', '14:35', '14:35', '14:35', '14:45', '14:45', '14:45', '15:05', '15:05', '15:05', '15:05', '15:05', '15:05', '17:15', '17:45', '18:00']

In [77]:
len(call_end_times)

109

In [78]:
for l in range(len(start_times)):
    call_end_time_texts = driver.find_elements_by_xpath("/html/body/div[@class='base']/form/div[@class='bodyBox marginTop219']/table[@class='contentTable']/tbody[@id='id_game_race_tbody']/tr[@id='id_row_" + str(l) + "']/td[@class='width7per'][3]/input")[0]
    call_end_time_texts.send_keys(call_end_times[l])